<div class="container mt-5 d-flex justify-content-center">
  <div class="card w-75 shadow rounded-3 border-1 overflow-hidden">
    <div class="card-header bg-secondary text-white text-center py-3">
      <h2 class="fw-bold mb-0">
        <i class="bi bi-person-plus"></i> Registro de Socio
      </h2>
    </div>
    <div class="card-body p-5 bg-white">
      <form [formGroup]="oSocioForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row g-4">

          <!-- Nombre -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" placeholder="Pon aquí tu nombre" />
              <mat-error *ngIf="oSocioForm.get('nombre')?.invalid && oSocioForm.get('nombre')?.touched">
                Campo obligatorio (3-50 caracteres)
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Apellido1 -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Primer Apellido</mat-label>
              <input matInput formControlName="apellido1" placeholder="Escribe tu primer apellido" />
              <mat-error *ngIf="oSocioForm.get('apellido1')?.invalid && oSocioForm.get('apellido1')?.touched">
                Campo obligatorio (3-50 caracteres)
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Apellido2 -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Segundo Apellido</mat-label>
              <input matInput formControlName="apellido2" placeholder="Escribe tu segundo apellido" />
            </mat-form-field>
          </div>

         <!-- Email -->
<div class="col-md-6">
  <mat-form-field appearance="outline" class="w-100"
    [class.mat-form-field-invalid]="emailExiste && oSocioForm.get('email')?.touched">

    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      (input)="onEmailChange()"
      placeholder="Pon aquí tu email"
      [class.is-invalid]="emailExiste && oSocioForm.get('email')?.touched"
    />

    <!-- ✅ Icono verde si es válido y no existe -->
    <mat-icon matSuffix *ngIf="!emailExiste && oSocioForm.get('email')?.valid" color="primary"></mat-icon>

    <!-- ❌ Icono rojo si ya existe -->
    <mat-icon matSuffix *ngIf="emailExiste && oSocioForm.get('email')?.touched" color="warn"></mat-icon>

    <!-- Errores -->
    <mat-error *ngIf="oSocioForm.get('email')?.hasError('required') && oSocioForm.get('email')?.touched">
      Email obligatorio
    </mat-error>

    <mat-error *ngIf="oSocioForm.get('email')?.hasError('email') && oSocioForm.get('email')?.touched">
      Formato de email incorrecto
    </mat-error>

    <mat-error *ngIf="emailExiste && oSocioForm.get('email')?.touched">
      Este email ya está registrado
    </mat-error>

  </mat-form-field>
</div>


          <!-- Contraseña -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                formControlName="contraseña"
                placeholder="Escribe tu contraseña"
              />
              <mat-error *ngIf="oSocioForm.get('contraseña')?.invalid && oSocioForm.get('contraseña')?.touched">
                Contraseña obligatoria (mín. 4 caracteres)
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Dirección Fiscal -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Dirección Fiscal</mat-label>
              <input matInput formControlName="direccionfiscal" placeholder="Tu dirección fiscal" 
              (input)="onSearchDireccion()"
                          [attr.autocomplete]="'off'"
                          
                          />

                          <ul
                          class="list-group position-absolute w-100 z-3"
                          *ngIf="sugerencias.length > 0"
                        >
                          <li
                            class="list-group-item list-group-item-action"
                            *ngFor="let sugerencia of sugerencias"
                            (click)="seleccionarDireccion(sugerencia)"
                          >
                            {{ sugerencia.properties.name }},
                            {{ sugerencia.properties.city }},
                            {{ sugerencia.properties.state }},
                            {{ sugerencia.properties.country }}
                          </li>
                        </ul>

              <mat-error *ngIf="oSocioForm.get('direccionfiscal')?.invalid && oSocioForm.get('direccionfiscal')?.touched">
                Obligatorio (3-50 caracteres)
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Teléfono -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="telefono" placeholder="Escribe tu teléfono" />
              <mat-error *ngIf="oSocioForm.get('telefono')?.invalid && oSocioForm.get('telefono')?.touched">
                Teléfono válido obligatorio (9 dígitos)
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Código Postal -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Código Postal</mat-label>
              <input matInput formControlName="codigopostal" placeholder="Código postal" />
              <mat-error *ngIf="oSocioForm.get('codigopostal')?.invalid && oSocioForm.get('codigopostal')?.touched">
                Código postal válido (5 dígitos)
              </mat-error>
            </mat-form-field>
          </div>

         <!-- DNI -->
<div class="col-md-6 position-relative">
  <mat-form-field appearance="outline" class="w-100"
  [class.mat-form-field-invalid]="(dniExiste || dniValido === false) && oSocioForm.get('dni')?.touched">

  <mat-label>DNI</mat-label>
  <input
    matInput
    formControlName="dni"
    (input)="onDniChange()"
    placeholder="Escribe tu DNI"
    [class.is-invalid]="(dniExiste || dniValido === false) && oSocioForm.get('dni')?.touched"
  />

  <!-- ✅ Icono verde si todo bien -->
  <mat-icon matSuffix *ngIf="dniValido && !dniExiste" color="primary"></mat-icon>

  <!-- ❌ Icono rojo si hay error -->
  <mat-icon matSuffix *ngIf="dniExiste || dniValido === false" color="warn"></mat-icon>

  <mat-error *ngIf="oSocioForm.get('dni')?.hasError('required') && oSocioForm.get('dni')?.touched">
    Debes introducir un DNI
  </mat-error>
  
  <mat-error *ngIf="oSocioForm.get('dni')?.hasError('pattern') && oSocioForm.get('dni')?.touched">
    Formato incorrecto. Debe ser 8 dígitos y 1 letra mayúscula
  </mat-error>
  
  <mat-error *ngIf="dniValido === false && oSocioForm.get('dni')?.touched">
    La letra del DNI no es correcta
  </mat-error>
  
  <mat-error *ngIf="dniExiste && dniValido && oSocioForm.get('dni')?.touched">
    Este DNI ya está registrado
  </mat-error>
  
  <mat-hint *ngIf="dniExiste" style="color: red; font-weight: bold;">
    Este DNI ya está registrado
  </mat-hint>
  <!-- Pista -->
  <mat-hint align="start">De 8 dígitos y 1 letra (ejemplo: 12345678Z)</mat-hint>
</mat-form-field>


</div>

         

          <!-- Foto DNI -->
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <label class="form-label fw-semibold mb-2">Foto del DNI</label>
            <input
              type="file"
              class="form-control"
              (change)="onFileSelect($event)"
              accept="image/*"
              formControlName="fotoDni"
            />
          </div>
        </div>

        <div class="text-center mt-5">
          <button class="btn btn-outline-secondary mx-1" [routerLink]="['/admin', 'socio', 'plist']">
            <i class="bi bi-list"></i> Ir a listado de Socios
          </button>
          <button class="btn btn-secondary mx-1" type="reset" (click)="onReset()">
            <i class="bi bi-x-lg"></i> Reset
          </button>
          <button class="btn btn-primary mx-1" type="submit" [disabled]="!oSocioForm.valid || dniValido !== true || emailExiste || dniExiste">
            <i class="bi bi-floppy"></i> Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Resultado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModal()"></button>
      </div>
      <div class="modal-body text-center">
        <p class="fs-5">{{ strMessage }}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal" (click)="hideModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>





