input.is-invalid {
    border-color: #d32f2f !important; /* rojo */
    background-color: #ffebee;
  }
  
  .mat-form-field.mat-form-field-invalid .mat-form-field-outline {
    color: #d32f2f !important;
    border-color: #d32f2f !important;
  }

  input.is-invalid {
    border-color: #d32f2f !important;
    background-color: #ffebee;
  }
  
  .mat-form-field.mat-form-field-invalid .mat-form-field-outline {
    border-color: #d32f2f !important;
  }
  