<div class="container mt-5 d-flex justify-content-center">
  <div class="card w-50 shadow-lg">
    <div class="card-header text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Creación de Instalacion
        <i class="bi bi-person-circle"></i>
      </h2>
    </div>
    <div class="card-body">
      <form [formGroup]="oInstalacionForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
          <label for="nombre" class="form-label fw-bold">nombre</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            formControlName="nombre"
            placeholder="nombre"
          />
         
        </div>
        <div class="mb-3">
          <label for="potenciaPanel" class="form-label fw-bold">Cantidad de paneles</label>
        <input
        type="text"
        id="paneles"
        class="form-control"
        formControlName="paneles"
        placeholder="Cantidad de paneles"
        [class.is-invalid]="panelesControl?.invalid && panelesControl?.touched"
      />
      
      @if (panelesControl?.invalid && panelesControl?.touched) {
        <div class="invalid-feedback">
          Solo se permiten números enteros positivos.
        </div>
      }
    </div>
        

      <div class="mb-3">
        <label for="potenciaPanel" class="form-label fw-bold">potenciaPanel</label>
        <input
          type="text"
          id="potenciaPanel"
          class="form-control"
          formControlName="potenciaPanel"
          placeholder="potenciaPanel"
          [class.is-invalid]="potenciaPanelControl?.invalid && potenciaPanelControl?.touched"
        />
        
        @if (potenciaPanelControl?.invalid && potenciaPanelControl?.touched) {
          <div class="invalid-feedback">
            Solo se permiten números enteros positivos.
          </div>
        }
      </div>
      

      <div class="mb-3">
        <label for="potenciaTotal" class="form-label fw-bold">potenciaTotal</label>
        <input
          type="text"
          id="potenciaTotal"
          class="form-control"
          formControlName="potenciaTotal"
          placeholder="potenciaTotal"
          [class.is-invalid]="potenciaTotalControl?.invalid && potenciaTotalControl?.touched"
        />
        
        @if (potenciaTotalControl?.invalid && potenciaTotalControl?.touched) {
          <div class="invalid-feedback">
            Solo se permiten números enteros positivos.
          </div>
        }
      </div>

      


      <div class="mb-3">
        <label for="precioKw" class="form-label fw-bold">precioKw</label>
        <input
          type="text"
          id="precioKw"
          class="form-control"
          formControlName="precioKw"
          placeholder="precioKw"
          [class.is-invalid]="precioKwControl?.invalid && precioKwControl?.touched"
        />
        
        @if (precioKwControl?.invalid && precioKwControl?.touched) {
          <div class="invalid-feedback">
            Solo se permiten números enteros positivos.
          </div>
        }
      </div>

        
        

        <div class="text-center">
          <button class="btn btn-warning mt-4 mx-1" [routerLink]="['/admin', 'Instalacion', 'plist']">
            <i class="bi bi-list"></i> Ir a listado de Instalacions
          </button>
          <button class="btn btn-secondary mt-4 mx-1" type="reset" (click)="onReset()">
            <i class="bi bi-x-lg"></i> Reset
          </button>
          <button class="btn btn-success mt-4 mx-1" type="submit">
            <i class="bi bi-floppy"></i> Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hideModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>