<div class="container mt-5 d-flex justify-content-center">
  <div class="card w-50 shadow-lg">
    <div class="card-header text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Creación de Inmueble
        <i class="bi bi-person-circle"></i>
      </h2>
    </div>
    <div class="card-body">
      <form [formGroup]="oInmuebleForm!" (ngSubmit)="onSubmit()" novalidate>
        
        <!-- Campo Cups -->
        <div class="mb-3">
          <label for="cups" class="form-label fw-bold">Cups</label>
          <input
            type="text"
            id="cups"
            class="form-control"
            formControlName="cups"
            placeholder="CUPS"
          />
        </div>

        <!-- Campo Dirección -->
        <div class="mb-3">
          <label for="direccion" class="form-label fw-bold">Dirección</label>
          <input
            type="text"
            id="direccion"
            class="form-control"
            formControlName="direccion"
            placeholder="Dirección"
          />
          <div *ngIf="oInmuebleForm?.get('direccion')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('direccion')?.hasError('required')">Debes introducir una Dirección.</small>
            <small *ngIf="oInmuebleForm?.get('direccion')?.hasError('minlength')">La Dirección es demasiado corta.</small>
            <small *ngIf="oInmuebleForm?.get('direccion')?.hasError('maxlength')">La Dirección es demasiado larga.</small>
          </div>
        </div>

        <!-- Campo Código Postal -->
        <div class="mb-3">
          <label for="codigoPostal" class="form-label fw-bold">Código Postal</label>
          <input
            type="text"
            id="codigoPostal"
            class="form-control"
            formControlName="codigoPostal"
            placeholder="Código Postal"
          />
          <div *ngIf="oInmuebleForm?.get('codigoPostal')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('codigoPostal')?.hasError('required')">Debes introducir un Código Postal.</small>
            <small *ngIf="oInmuebleForm?.get('codigoPostal')?.hasError('minlength')">El Código Postal es demasiado corto.</small>
            <small *ngIf="oInmuebleForm?.get('codigoPostal')?.hasError('maxlength')">El Código Postal es demasiado largo.</small>
          </div>
        </div>

        <!-- Campo Municipio -->
        <div class="mb-3">
          <label for="municipio" class="form-label fw-bold">Municipio</label>
          <input
            type="text"
            id="municipio"
            class="form-control"
            formControlName="municipio"
            placeholder="Municipio"
          />
        </div>

        <!-- Campo Referencia Catastral -->
        <div class="mb-3">
          <label for="refCatas" class="form-label fw-bold">Referencia Catastral</label>
          <input
            type="text"
            id="refCatas"
            class="form-control"
            formControlName="refCatas"
            placeholder="Referencia Catastral"
          />
        </div>

        <!-- Campo Potencia 1 -->
        <div class="mb-3">
          <label for="potencia1" class="form-label fw-bold">Potencia 1</label>
          <input
            type="text"
            id="potencia1"
            class="form-control"
            formControlName="potencia1"
            placeholder="Potencia 1"
          />
          <div *ngIf="oInmuebleForm?.get('potencia1')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('potencia1')?.hasError('required')">Debes introducir la Potencia 1.</small>
          </div>
        </div>

        <!-- Campo Potencia 2 -->
        <div class="mb-3">
          <label for="potencia2" class="form-label fw-bold">Potencia 2</label>
          <input
            type="text"
            id="potencia2"
            class="form-control"
            formControlName="potencia2"
            placeholder="Potencia 2"
          />
          <div *ngIf="oInmuebleForm?.get('potencia2')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('potencia2')?.hasError('required')">Debes introducir la Potencia 2.</small>
          </div>
        </div>

        <!-- Campo Tensión -->
        <div class="mb-3">
          <label for="tension" class="form-label fw-bold">Tensión</label>
          <select
            id="tension"
            class="form-control"
            formControlName="tension"
          >
            <option value="" disabled selected>Selecciona una tensión</option>
            <option value="230">230</option>
            <option value="400">400</option>
          </select>
        </div>

        <!-- Campo Uso -->
        <div class="mb-3">
          <label for="uso" class="form-label fw-bold">Uso</label>
          <select
            id="uso"
            class="form-control"
            formControlName="uso"
          >
            <option value="" disabled selected>Selecciona un uso</option>
            <option value="Vivienda Habitual">Vivienda Habitual</option>
            <option value="Vivienda No Habitual">Vivienda No Habitual</option>
            <option value="Local Comercial">Local Comercial</option>
            <option value="Garaje">Garaje</option>
            <option value="Otros">Otros</option>
          </select>
        </div>

        <!-- Campo Recomendación -->
        <div class="mb-3">
          <label for="recomendacion" class="form-label fw-bold">Recomendación</label>
          <input
            type="text"
            id="recomendacion"
            class="form-control"
            formControlName="recomendacion"
            placeholder="Recomendación"
          />
          <div *ngIf="oInmuebleForm?.get('recomendacion')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('recomendacion')?.hasError('required')">Debes introducir una Recomendación.</small>
          </div>
        </div>

        <!-- Campo Consumo Anual -->
        <div class="mb-3">
          <label for="consumoanual" class="form-label fw-bold">Consumo Anual</label>
          <input
            type="text"
            id="consumoanual"
            class="form-control"
            formControlName="consumoanual"
            placeholder="Consumo Anual"
          />
          <div *ngIf="oInmuebleForm?.get('consumoanual')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('consumoanual')?.hasError('required')">Debes introducir el Consumo Anual.</small>
          </div>
        </div>

        <!-- Campo Intención -->
        <div class="mb-3">
          <label for="intencion" class="form-label fw-bold">Intención</label>
          <input
            type="text"
            id="intencion"
            class="form-control"
            formControlName="intencion"
            placeholder="Intención"
          />
          <div *ngIf="oInmuebleForm?.get('intencion')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('intencion')?.hasError('required')">Debes introducir una Intención.</small>
          </div>
        </div>

        <!-- Campo Hábitos -->
        <div class="mb-3">
          <label for="habitos" class="form-label fw-bold">Hábitos</label>
          <input
            type="text"
            id="habitos"
            class="form-control"
            formControlName="habitos"
            placeholder="Hábitos"
          />
          <div *ngIf="oInmuebleForm?.get('habitos')?.errors" class="text-danger">
            <small *ngIf="oInmuebleForm?.get('habitos')?.hasError('required')">Debes introducir los Hábitos.</small>
          </div>
        </div>

        <!-- Selector de Socio -->
        <div formGroupName="socio">
          <div class="row mt-4">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Socio</mat-label>
                <input matInput formControlName="nombre" placeholder="Nombre del socio" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Primer Apellido</mat-label>
                <input matInput formControlName="apellido1" placeholder="Primer Apellido" />
              </mat-form-field>
            </div>
            <div class="col-auto d-flex align-items-end">
              <button class="btn btn-primary" (click)="showSocioSelectorModal()">
                <i class="bi bi-search"></i> Buscar
              </button>
            </div>
          </div>
        </div>

        <!-- Botones -->
        <div class="text-center">
          <button class="btn btn-warning mt-4 mx-1" [routerLink]="['/admin', 'inmueble', 'plist']">
            <i class="bi bi-list"></i> Ir a listado de Inmuebles
          </button>
          <button class="btn btn-secondary mt-4 mx-1" type="reset" (click)="onReset()">
            <i class="bi bi-x-lg"></i> Reset
          </button>
          <button class="btn btn-success mt-4 mx-1" type="submit" (click)="onSubmit()">
            <i class="bi bi-floppy"></i> Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
