 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-box">
        



      
          <h1>Bienvenido a SolarCel</h1>
      
          <p class="intro">
            Esta aplicación está diseñada para ayudarte a formar parte activa de una CEL: una comunidad donde vecinos, empresas y entidades colaboran para generar, compartir y optimizar energía limpia.
          </p>
      
          <p class="info">
            Explora tus inmuebles, gestiona productos energéticos, consulta tus conexiones o descubre nuevos proveedores comprometidos con la sostenibilidad.
          </p>
      
          <button mat-raised-button color="primary" routerLink="/inmueble/plist">
            Empezar ahora
          </button>
        </div>
      </div>
      
      
</body>
</html> 